*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}

.containerHeader{
    width: 1800px;
    margin: 0 auto;
    margin-top: 42px;

}
.logo{
    display: flex;
}
.btn{
width: 111px;
height: 22px;
border: none;
display: flex;
margin-left: 40px;
margin-top: 10px;
background-color: white;
}
.btnh1{
width: 67px;
height: 22px;
font-size: 18px;
font-weight: 600;


}
 
.button {
    margin-left: 21px;


   
    background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
        padding-box,
      linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
    border-radius: 200px;
    border: 2px solid transparent;
  
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
  
    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  
  .button:hover {
    box-shadow: none;
    opacity: 80%;
  }
  
.textCot{
    width: 76px;
height: 22px;
width: 76px;
height: 22px;
font-size: 18px;
font-weight: 600;
color: white;
margin-left: 5px;
line-height: 21.94px;


}
.btn3{
    width: 232px;
height: 40px;
border-radius: 200px ;
border: 1px;
border: 1px solid #333333;
margin-left: 20px;
margin-top: 7px;






}
.btnfast{
width: 188px;
height: 22px;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
color: #333333;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-left: 20px;


}
.navig{
    list-style: none;
    cursor: pointer;
    display:flex ;
    margin-left: 200px;
    margin-top: 15px;
    
}
.li1{
    width: 160px;
height: 22px;
font-size: 18px;
font-weight: 600;




}
.li2{
    width: 158px;
height: 22px;

font-size: 18px;
font-weight: 600;

}

.ui-like {
    --icon-size: 24px;
     --icon-secondary-color: rgb(249, 89, 9);
    --icon-hover-color: rgb(252, 92, 6); 
    --icon-primary-color: rgb(230, 26, 26);
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
    margin-top: 10px;
    margin-left: 133px;
  }
  
  .ui-like input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }
  
  .ui-like .like {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
  
  .like::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
      30px 0 0 -4px var(--icon-primary-color),
      0 -30px 0 -4px var(--icon-primary-color),
      -30px 0 0 -4px var(--icon-primary-color),
      -22px 22px 0 -4px var(--icon-primary-color),
      -22px -22px 0 -4px var(--icon-primary-color),
      22px -22px 0 -4px var(--icon-primary-color),
      22px 22px 0 -4px var(--icon-primary-color);
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
      30px 0 0 -4px var(--icon-primary-color),
      0 -30px 0 -4px var(--icon-primary-color),
      -30px 0 0 -4px var(--icon-primary-color),
      -22px 22px 0 -4px var(--icon-primary-color),
      -22px -22px 0 -4px var(--icon-primary-color),
      22px -22px 0 -4px var(--icon-primary-color),
      22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .like::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
  }
  
 
  
  .ui-like:hover .like {
    fill: var(--icon-hover-color);
  }
  
  .ui-like input:checked + .like::after {
    -webkit-animation: circles var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circles var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
  }
  
  .ui-like input:checked + .like {
    fill: var(--icon-primary-color);
    -webkit-animation: like var(--icon-anmt-duration) forwards;
    animation: like var(--icon-anmt-duration) forwards;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .ui-like input:checked + .like::before {
    -webkit-animation: circle var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circle var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
  }
  
  @-webkit-keyframes like {
    50% {
      -webkit-transform: scaleY(0.6);
      transform: scaleY(0.6);
    }
  
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  
  @keyframes like {
    50% {
      -webkit-transform: scaleY(0.6);
      transform: scaleY(0.6);
    }
  
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  
  @-webkit-keyframes circle {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    90% {
      width: var(--icon-circle-size);
      height: var(--icon-circle-size);
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes circle {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    90% {
      width: var(--icon-circle-size);
      height: var(--icon-circle-size);
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes circles {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    40% {
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }
  
  @keyframes circles {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    40% {
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }
 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
    margin-left: 30px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(19, 1, 79, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(23, 1, 82, 0.1);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   
   
   
   

.container{
    width: 1900px;
    margin: 0 auto;
}
<<<<<<< HEAD
/* siction5 */
.mirbeksection5{
    width: 1400px;
    height: 936px;
    margin-top: 360px;
    margin-left: 260px;
}
.mirbekbox1{
    font-size: 40px;
}
.mirbekbox2{
    margin-top: 80px;
    font-size: 22px;
}
.mimg1{
    padding-left: 1293px;
    align-items: center; 

}
.mirbektg{
    margin-top: 25px;
    position: relative;
    
    
}
.mirbektg01{
    display: flex;
    margin-top: 25px;
    
}
.mirbekpluc{
    margin-left: 1350px;
    position: absolute;
    font-size: 40px;
}
.mirbekplucc{
    position: absolute;
    margin-left: 1335px;
}
.mirbek111{
    position: absolute;
    margin-left: 1365px;
    z-index: 2;
    margin-top: 30px;
}
.mirbektop{
    margin-top: 22px;
}
=======
/* section2 */
.block{
    position: relative;
    width: 1660px;
    height: 1040px;
  
}
.find{
    width: 1192px;
    height: 1040px;
    top: -822px;
    left:-1920px;  
    margin-left: 470px;
    margin-top: 5px;
}
.push{
    position: absolute;
    padding-top: 335px;

}
h2{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;  
    margin-bottom: 73px; 
}
.text1 img{
    width: 40px;
    height: 40px;
    top: 1282px;
    left: 260px;
    gap: 0px;
    opacity: 0px;  
}
.text1 p{
    width: 240px;
    height: 52px;
    top: 1342px;
    left: 260px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
}
.text2 {
    margin-left: 80px;
}
.text2 img{
    width: 40px;
    height: 40px;
    top: 1282px;
    left: 580px;
    gap: 0px;
    opacity: 0px; 
}
.text2 p{
    width: 269px;
    height: 78px;
    top: 1342px;
    left: 580px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
}
.text3{
    margin-left: 60px;
}
.text3 img{
    width: 40px;
    height: 40px;
    top: 1282px;
    left: 909px;
    gap: 0px;
    opacity: 0px;   
}
.text3 p{
    width: 331px;
    height: 104px;
    top: 1342px;
    left: 909px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
}
.text4{
    margin-left: 60px;
}
.text4 img{
    width: 40px;
    height: 40px;
    top: 1282px;
    left: 1300px;
    gap: 0px;
    opacity: 0px;
}
.text4 p{
    width: 323px;
    height: 52px;
    top: 1342px;
    left: 1300px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;   
}
.top{
    display: flex;
}
/* section3 */
.block2{
    width: 1400px;
    height: 1510px;
  
    
}
.h{
    width: 468px;
    height: 60px;
    top: -1646px;
    left: -260px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    color: #333333;  
    margin-left: 260px;
    margin-top: 615px;
}
.card1{
    width: 440px;
    height: 600px;
   
    
    
 
    /* box-shadow: 10px 10px 100px 10px; */
   
   
    
}
.filter{
    margin-left: 260px;
    margin-top: 80px;
    
}
.git{
    width: 194px;
    height: 36px;
    top: 328px;
    left: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    color: #333333;
    margin-left: 290px;
    margin-top: -65px;
}
.cc{
    display: flex;
    margin-left: 290px;
    margin-top: 16px;
    width: 200px;
    height: 24px;
    top: 380px;
    left: 30px;
    gap: 0px;
    opacity: 0px;  
}
.A7{
    color: #727488;
    margin-left: 12px;
    width: 142px;
    height: 24px;
    top: 380px;
    left: 65px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left; 
}
.cv{
    display: flex;
    margin-left: 292px;
    margin-top: 8px;
    width: 230px;
    height: 24px;
    top: 412px;
    left: 32px;
    gap: 0px;
    opacity: 0px;   
}
.A8{
    color: #727488;
    margin-left: 17px;
    width: 171px;
    height: 24px;
    top: 412px;
    left: 64px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;   
}
.cb{
    display: flex;
    margin-left: 292px;
    margin-top: 7px;
    width: 100px;
    height: 25px;
    top: 443px;
    left: 32px;
    gap: 0px;
    opacity: 0px;   
}
.A9{
    color: #727488;
    margin-left: 23px;
    width: 43px;
    height: 24px;
    top: 444px;
    left: 64px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;     
}
.cn{
    display: flex;
    margin-left: 291px;
    margin-top: 8px;
    width: 106px;
    height: 24px;
    top: 476px;
    left: 31px;
    gap: 0px;
    opacity: 0px;   
}
.A10{
    color: #727488;
    margin-left: 15px;
    width: 73px;
    height: 24px;
    top: 476px;
    left: 64px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;  
}
.A11{
    display: flex;
    width: 400px;
    margin-left: 290px;
    margin-top: 27px;
}
.A12{
    color: #333333;
    width: 216px;
    height: 33px;
    top: 527px;
    left: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;   
}
.A13{
    margin-left: 66px;
    margin-top: 5px;
    color: #F4683F;
    width: 98px;
    height: 24px;
    top: 532px;
    left: 312px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;  
}
.A14{
    margin-left: 605px;
    margin-top: -90px;
}
.can{
    margin-top: 83px;
}
.btr{
    position: absolute;
    margin-left: 590px;
    margin-top: -270px;
}
.btm{
    width: 92px;
    height: 36px;
    background-color: #FFFFFF;  
    border-radius: 150px;
    border: none;
}
.red{
    position: absolute;
    margin-left: -326px;
    color: #727488;
    margin-top: -24px;
    width: 41px;
    height: 21px;
    top: 31px;
    left: 367px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;     
}
.rep{
    margin-left: -50px;
}
.rot{
    position: absolute;
    display: flex;
}
.card3{
    margin-left: -210px;

}
.card2{
    margin-left: 50px;
}
.rob{
    position: absolute;
    display: flex;
    margin-top: 630px;
}
.card5{
    margin-left: -210px;
}
.card6{
    margin-left: -210px;
}
.gta{
    background-color: #F4683F;
    color: #FFFFFF;
    width: 280px;
    height: 50px;
    border-radius: 200px;
    opacity: 0px; 
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    border: none; 
    text-align: center;
    margin-left: 830px;
    margin-top: 1370px;
}
/* section4 */
.block3{
    width: 1660px;
    height: 1041px;
    top: 3236px;
    left: 260px;
    gap: 0px;
    opacity: 0px;  
}
.hoco{
    width: 1476px;
    height: 1041px;
    margin-top: 1px;
    margin-left: 444px;
}
.mai{
    color: #333333;
    width: 597px;
    height: 60px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-left: 260px;
    margin-top: 210px;
}
.key{
    background-color: #babbe4;
    width: 440px;
    height: 130px;
    border-radius: 20px;
}
.as{
    margin-top: 49px;
    margin-left: 44px;
}
.ac{
    color: #333333;
    width: 250px;
    height: 27px;
    top: 3547px;
    left: 370px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-left: 110px;
    margin-top: -33px;
}
.kei{
    background-color: #babbe4;
    width: 440px;
    height: 130px;
    border-radius: 20px;
}
.ai{
    margin-top: 49px;
    margin-left: 44px;
}
.ai{
    color: #333333;
    width: 250px;
    height: 27px;
    top: 3547px;
    left: 370px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-left: 110px;
    margin-top: -33px;
}
.ket{
    background-color: #babbe4;
    width: 440px;
    height: 130px;
    border-radius: 20px;
}
.at{
    margin-top: 49px;
    margin-left: 44px;
}
.aT{
    color: #333333;
    width: 250px;
    height: 27px;
    top: 3547px;
    left: 370px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-left: 110px;
    margin-top: -33px;
}
.kep{
    background-color: #babbe4;
    width: 440px;
    height: 130px;
    border-radius: 20px;
}
.ap{
    margin-top: 49px;
    margin-left: 44px;
}
.aP{
    color: #333333;
    width: 250px;
    height: 27px;
    top: 3547px;
    left: 370px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-left: 110px;
    margin-top: -33px;
}
.keb{
    background-color: #babbe4;
    width: 440px;
    height: 130px;
    border-radius: 20px;
}
.ab{
    margin-top: 49px;
    margin-left: 44px;
}
.aB{
    color: #333333;
    width: 250px;
    height: 27px;
    top: 3547px;
    left: 370px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-left: 110px;
    margin-top: -33px;
}
.kex{
    background-color: #babbe4;
    width: 440px;
    height: 130px;
    border-radius: 20px;
}
.ax{
    margin-top: 49px;
    margin-left: 44px;
}
.aX{
    color: #333333;
    width: 250px;
    height: 27px;
    top: 3547px;
    left: 370px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-left: 110px;
    margin-top: -33px;
}
.id{
    display: flex;
}
>>>>>>> d550b0d8b279c4de145ddc6ef630cdc62aadbabf
